<app-list-tasks (sendPositions)="getPositions($event)"></app-list-tasks>

<div class="modal fade mt-3 pt-3" id="editModal" tabindex="-1" role="dialog" aria-label="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Editar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="">Empresa</label>
            <input *ngIf="taskFound" type="text" name="title" class="form-control" [(ngModel)]="taskFound.title">
          </div>
          <div class="form-group">
            <label for="">RUC</label>
            <input *ngIf="taskFound" type="text" name="ruc" class="form-control" [(ngModel)]="taskFound.ruc">
          </div>
          <div class="form-group">
            <label for="">Módulo</label>
            <input *ngIf="taskFound" type="text" name="modulo" class="form-control" [(ngModel)]="taskFound.modulo">
          </div>
          <div class="form-group">
            <label for="">Fecha</label>
            <br>
            <input *ngIf="taskFound" type="date" name="date" [(ngModel)]="taskFound.date">
          </div>
          <div class="form-group">
            <label for="">Descripción</label>
            <textarea *ngIf="taskFound" class="form-control" name="description"  [(ngModel)]="taskFound.description"></textarea>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="editTask()">Guardar Cambios</button>
      </div>

    </div>
  </div>
</div>
